.dropdown {
  display: flex;
  justify-content: space-between;
  width: 400px;
  /*margin: auto;*/
}
.container {
  display: flex;
  border: 2px solid rgba(122,122, 122, .3);
  margin-top: 60px;
  padding: 50px;
  height: 300px;
}
.btn-large {
  width: 400px;
}
.boat-type {
  border: 2px solid rgba(122,122, 122, .3);
  padding: 20px;
  width: 147px;
}
.inline-content{


}
.sail {
  margin-right: 60px;

}
.monthly-revenue{
  height: 100%;
  border: 2px solid rgba(122,122, 122, .3);
  width: 400px;
  margin-left: 40px;
  background-color: rgba(122,122, 122, .1);
  text-align: center;
}

.boat-type{
  cursor: pointer;

}
.amount {
  margin-top: 63px;
  font-size: 35px;
}
.info  {
  bottom: 0;
}
boat-type.focus:active {

  border-color: #35B084;


};
boat-type :active {
  border-color: #35B084;

}
